In [2]:
import pandas as pd

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a','b','c','d'])

In [6]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [7]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
type(data.values)

numpy.ndarray

In [10]:
type(data)

pandas.core.series.Series

In [11]:
type(data.index)

pandas.core.indexes.base.Index

In [13]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

    grads_dict = {'A':4, 'B':3.5, 'C':3, 'D':2.5}

In [14]:
grads_dict = {'A':4, 'B':3.5, 'C':3, 'D':2.5}

In [15]:
grads = pd.Series(grads_dict)

In [16]:
grads.values

array([4. , 3.5, 3. , 2.5])

In [17]:
grads.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
marks_dict = {'A':85, 'B':75, 'C':65, 'D':55}
marks = pd.Series(marks_dict)

In [19]:
marks

A    85
B    75
C    65
D    55
dtype: int64

In [20]:
marks.A

85

In [21]:
marks['A']

85

In [22]:
marks[0:2]

A    85
B    75
dtype: int64

In [24]:
rs = pd.DataFrame({'grades':grads, 'marks':marks})

In [25]:
rs

   grades  marks
A     4.0     85
B     3.5     75
C     3.0     65
D     2.5     55

In [32]:
rs.values[2, 0]

3.0

In [33]:
rs.columns

Index(['grades', 'marks'], dtype='object')

In [40]:
rs['ScaledMarks'] = 125 * (rs['marks']/100)

In [41]:
rs

   grades  marks  ScaledMarks
A     4.0     85       106.25
B     3.5     75        93.75
C     3.0     65        81.25
D     2.5     55        68.75

In [42]:
G = rs[rs['marks']>70]

In [43]:
G

   grades  marks  ScaledMarks
A     4.0     85       106.25
B     3.5     75        93.75

In [45]:
A = pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':4}])

In [46]:
A

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [53]:
A.fillna(0)

     a  b    c
0  1.0  2  0.0
1  0.0  3  4.0

### Explicit and Implicit Indexing

In [61]:
A = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])

In [62]:
A[1]

'a'

In [63]:
A[1:3]

3    b
5    c
dtype: object

In [64]:
A.loc[1:3]

1    a
3    b
dtype: object

In [65]:
A.iloc[1:3]

3    b
5    c
dtype: object