# Datetime index

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
from datetime import datetime

In [6]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13 # 24-hour format
my_minute = 30
my_seconds = 15

In [4]:
my_date = datetime(my_year, my_month, my_day)

In [5]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

Press Shift+Tab for argument documentation.

In [7]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_minute, my_seconds)

In [8]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [9]:
type(my_date_time)

datetime.datetime

In [10]:
my_date_time.day

2

In [11]:
my_date_time.month

1

## Datetime with Pandas

In [14]:
# Create list of datetimes
first_two = [datetime(2016, 1, 1), datetime(2016, 1, 2)]

In [13]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [17]:
# Create datetime index
dt_ind = pd.DatetimeIndex(first_two)

In [16]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [18]:
data = np.random.randn(2, 2)
data

array([[ 0.59399795,  1.1964559 ],
       [-1.19857437, -0.40766452]])

In [19]:
cols = ['a', 'b']

In [20]:
df = pd.DataFrame(data, dt_ind, cols)

In [21]:
df

                   a         b
2016-01-01  0.593998  1.196456
2016-01-02 -1.198574 -0.407665

In [22]:
df.index.argmax()

1

In [23]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [24]:
df.index.argmin()

0

In [25]:
df.index.min()

Timestamp('2016-01-01 00:00:00')

# Time Resampling

In [6]:
df = pd.read_csv('walmart_stock.csv')

In [7]:
df.head()

         Date       Open       High        Low      Close    Volume  Adj Close
0  2012-01-03  59.970001  61.060001  59.869999  60.330002  12668800  52.619235
1  2012-01-04  60.209999  60.349998  59.470001  59.709999   9593300  52.078475
2  2012-01-05  59.349998  59.619999  58.369999  59.419998  12768200  51.825539
3  2012-01-06  59.419998  59.450001  58.869999  59.000000   8069400  51.459220
4  2012-01-09  59.029999  59.549999  58.919998  59.180000   6679300  51.616215

In [8]:
df.info()

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type