In [1]:
for i in 1:4
    println(i^2)
end

1
4
9
16

In [2]:
println(i)

LoadError: UndefVarError: i not defined

In [3]:
for i in 1:4
    println("Another iteration in the loop.")
end

Another iteration in the loop.
Another iteration in the loop.
Another iteration in the loop.
Another iteration in the loop.

In [4]:
for j = 1:4
    println(j^3)
end

1
8
27
64

In [5]:
for k ∈ 1:4
    println(k^2)
end

1
4
9
16

In [6]:
for name ∈ ["Julia", "R", "Python", "C"]
    println(name)
end

Julia
R
Python
C

In [7]:
arr = rand(5:25, 5)

5-element Vector{Int64}:
 24
 22
 25
 25
  8

In [8]:
for i in 1:length(arr)
    println("$i. element is $(arr[i]).")
end

1. element is 24.
2. element is 22.
3. element is 25.
4. element is 25.
5. element is 8.

In [9]:
for (index, value) ∈ enumerate(arr)
    println("The $(index). element is $(value).")
end

The 1. element is 24.
The 2. element is 22.
The 3. element is 25.
The 4. element is 25.
The 5. element is 8.

In [10]:
mat = rand(15:44, (3, 2))

3×2 Matrix{Int64}:
 35  36
 22  33
 15  26

In [11]:
for row in 1:size(mat, 1)
    for col in 1:size(mat, 2)
        println("Row: $row, Column: $col, Value: $(mat[row, col])")
    end
end

Row: 1, Column: 1, Value: 35
Row: 1, Column: 2, Value: 36
Row: 2, Column: 1, Value: 22
Row: 2, Column: 2, Value: 33
Row: 3, Column: 1, Value: 15
Row: 3, Column: 2, Value: 26

In [12]:
for row in 1:size(mat, 1), col in 1:size(mat, 2)
    println("Row: $row, Column: $col, Value: $(mat[row, col])")
end

Row: 1, Column: 1, Value: 35
Row: 1, Column: 2, Value: 36
Row: 2, Column: 1, Value: 22
Row: 2, Column: 2, Value: 33
Row: 3, Column: 1, Value: 15
Row: 3, Column: 2, Value: 26

In [13]:
for row in 1:6
    for col in 1:4
        print((row, col))
    end
    println()
end

(1, 1)(1, 2)(1, 3)(1, 4)
(2, 1)(2, 2)(2, 3)(2, 4)
(3, 1)(3, 2)(3, 3)(3, 4)
(4, 1)(4, 2)(4, 3)(4, 4)
(5, 1)(5, 2)(5, 3)(5, 4)
(6, 1)(6, 2)(6, 3)(6, 4)

In [14]:
for row in 1:6, col in 1:4
    print((row, col))
    if col == 4
        println()
    end
end

(1, 1)(1, 2)(1, 3)(1, 4)
(2, 1)(2, 2)(2, 3)(2, 4)
(3, 1)(3, 2)(3, 3)(3, 4)
(4, 1)(4, 2)(4, 3)(4, 4)
(5, 1)(5, 2)(5, 3)(5, 4)
(6, 1)(6, 2)(6, 3)(6, 4)

In [15]:
names = ["Albert", "Marie", "Isaac", "Rosalind", "Richard"]
surnames = ["Einstein", "Curie", "Newton", "Franklin", "Feynman"]
birthyears = [1879, 1867, 1643, 1918]

4-element Vector{Int64}:
 1879
 1867
 1643
 1918

In [16]:
for (name, surname, byear) ∈ zip(names, surnames, birthyears)
    println((name, surname, byear))
end

("Albert", "Einstein", 1879)
("Marie", "Curie", 1867)
("Isaac", "Newton", 1643)
("Rosalind", "Franklin", 1918)

In [17]:
d = Dict("a" => 10, "b" => 20, "c" => 30, "d" => 40)

Dict{String, Int64} with 4 entries:
  "c" => 30
  "b" => 20
  "a" => 10
  "d" => 40

In [18]:
for (key, val) in d
    println("Key is: $key, Value is: $val")
end

Key is: c, Value is: 30
Key is: b, Value is: 20
Key is: a, Value is: 10
Key is: d, Value is: 40

In [20]:
for item in d
    println("Key is: $(item.first), Value is: $(item.second)")
end

Key is: c, Value is: 30
Key is: b, Value is: 20
Key is: a, Value is: 10
Key is: d, Value is: 40

In [21]:
str = "Julia Language"
for c in str
    print("$c|")
end

J|u|l|i|a| |L|a|n|g|u|a|g|e|

In [22]:
file = "input_file.txt"
for line in eachline(file)
    println(line)
end

For loop is the most common type of loop.
The other type of loop is the while loop.
Loops are very powerful and fast in Julia.

In [24]:
arr = rand(-1_000_000:1_000_000, 100)

100-element Vector{Int64}:
  563626
 -384868
 -102319
 -981435
 -490489
 -720691
  226930
  306192
  522477
  750606
 -170691
  521139
 -602745
       ⋮
  -21601
 -320530
 -775431
 -931993
  667955
   96197
  247148
  545369
  663799
 -334699
 -217292
  -78002

In [26]:
maxnum = typemin(Int64)

for num ∈ arr
    if num > maxnum
        maxnum = num
    end
end
println(maxnum)

922815

In [27]:
sum = 0
n = 0

for num = arr
    sum += num
    n += 1
end
average = sum / n
println(average)

-40695.2